@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar tabs */
.nav-tab.current-tab {
  background-color: orange;
}

/* home - add vertical line between name and award */
td+td {
  border-left: 1px solid black;
}

/* home - remove horizontal line between awards */
tr {
  border-bottom: none;
}

/* people - padding for people boxes */
.card-body {
  padding: 7px !important;
}

.navbar {
  padding: 0rem;
}

@media (min-height: 400px) {
  .smh\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .smh\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .smh\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .smh\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .smh\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .smh\:text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  
}

@media (min-height: 500px) {
  .mdh\:p-4 {
    padding: 1rem;
  }
}

.navbar {
  z-index: 9999;
}

.menu-hidden {
  z-index: 9995;
}

.navbar-end {
  width: 70%;
}

.text-grad {
  background: -webkit-linear-gradient(60deg, #ff5e00, #ffc916);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-orange-grad {
  background: -webkit-linear-gradient(60deg, #ff5e00, #ffc916);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-orangerev-grad {
  background: -webkit-linear-gradient(60deg, #ffc916, #ff5e00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-orange2-grad {
  background: -webkit-linear-gradient(60deg, #ffaa00, #ffe600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-green-grad {
  background: -webkit-linear-gradient(60deg, #51990d, #46d703);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-greenrev-grad {
  background: -webkit-linear-gradient(60deg, #46d703, #51990d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-green2-grad {
  background: -webkit-linear-gradient(60deg, #00ff1e, #00ffb3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-blue-grad {
  background: -webkit-linear-gradient(60deg, #00d9ff, #a2f3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-bluerev-grad {
  background: -webkit-linear-gradient(60deg, #a2f3ff, #00d9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-blue2-grad {
  background: -webkit-linear-gradient(60deg, #0088ff, #00d9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-outline {
  background: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 2px;
}

.btn-ghost.btn-active {
  border-color: transparent;
  background-color: transparent;
}

.badge-outline.badge-warning {
  --tw-text-opacity: 1;
  color: #f7772e;
  background-color: white;
}

.badge-warning {
  --tw-bg-opacity: 1;
  background-color: #ff9d33;
  --tw-text-opacity: 1;
}